---
import BaseLayout from "../layouts/BaseLayout.astro";
import ModulesGrid from "../components/index/ModulesGrid.astro";
const pageTitle = "Abhiyanta - Engineering simplified.";
const image = { alt: "", src: "" };
const modules = await Astro.glob("./module/*.md");
const chapters = await Astro.glob("./chapter/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid py-16 sm:grid-cols-3">
    <div class="flex flex-col gap-4 sm:col-span-2">
      <h1>Free and open engineering education</h1>
      <p>
        This website is an extensive and in-depth collection of engineering
        lessons created by folks at Abhiyanta. It is openly accessible to
        everyone.
      </p>
    </div>
    <div class="sm:col-span-1">
      <img alt={image.alt} src={image.src} />
    </div>
  </div>
  <ModulesGrid modules={modules} chapters={chapters} />
</BaseLayout>
