---
import Breadcrumb from "../components/Breadcrumb.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
let chapters = await Astro.glob("../pages/chapter/*.md");
chapters = chapters.filter((chapter) => chapter.frontmatter.module === frontmatter.module);
chapters = chapters.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
const modules = await Astro.glob("../pages/module/*.md");
const module = modules.find((module) => module.frontmatter.title === frontmatter.module);
const getPath = () => {
  const path = [
    module
      ? { url: module.url, title: module.frontmatter.title }
      : { url: "/", title: "Unrecognized" },
    { url: frontmatter.url, title: frontmatter.title },
  ];
  return path;
};
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="py-16">
    <div class="mb-2">
      <label
        class="inline-block mr-1 px-4 rounded text-gray-800"
        style={`background-color: ${module ? module.frontmatter.color : "#f00"}`}
      >
        Module {module ? module.frontmatter.order : "?"}
      </label>
      <Breadcrumb path={getPath()} />
    </div>
    <h1>{frontmatter.title}</h1>
    <div class="py-8 md:py-16 grid md:grid-cols-6 gap-8">
      <aside class="md:col-span-2 rounded border p-4">
        <ol class="list-decimal list-inside">
          {
            chapters.map((chapter) => (
              <li class="text-gray-800">
                <a
                  class={
                    chapter.frontmatter.title === frontmatter.title
                      ? "font-semibold text-blue-600"
                      : ""
                  }
                  href={chapter.url}
                >
                  {chapter.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ol>
      </aside>
      <div class="md:col-span-4 flex flex-col gap-1">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
