---
import BaseLayout from "./BaseLayout.astro";
import ModuleLabel from "../components/ModuleLabel.astro";
import ChaptersList from "../components/module/ChaptersList.astro";
const { frontmatter } = Astro.props;
const getModule = async (title: string) => {
  const modules = await Astro.glob("../pages/module/*.md");
  return modules.find((module) => module.frontmatter.title === title);
};
const getChapters = async (title: string) => {
  let chapters = await Astro.glob("../pages/chapter/*.md");
  chapters = chapters.filter((chapter) => chapter.frontmatter.module === title);
  chapters = chapters.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
  return chapters;
};
const module = await getModule(frontmatter.title);
const chapters = await getChapters(frontmatter.title);
---

<BaseLayout title={frontmatter.title} metaDescription={frontmatter.description}>
  <div class="py-16">
    <ModuleLabel module={module} />
    <h1>{frontmatter.title}</h1>
    <div class="grid sm:grid-cols-3">
      <ChaptersList chapters={chapters} />
      <div class="sm:col-span-1">
        <img alt={frontmatter.image.alt} src={frontmatter.image.src} />
      </div>
    </div>
  </div>
</BaseLayout>
