---
import BaseLayout from "./BaseLayout.astro";
import ModuleLabel from "../components/ModuleLabel.astro";
import ChaptersList from "../components/module/ChaptersList.astro";
import PostsList from "../components/module/PostsList.astro";
const { frontmatter } = Astro.props;
const getModule = async (title: string) => {
  const modules = await Astro.glob("../pages/module/*.md");
  return modules.find((module) => module.frontmatter.title === title);
};
const getChapters = async (title: string) => {
  let chapters = await Astro.glob("../pages/chapter/*.md");
  chapters = chapters.filter((chapter) => chapter.frontmatter.module === title);
  chapters = chapters.sort((a, b) =>
    a.frontmatter.order > b.frontmatter.order ? 1 : -1
  );
  return chapters;
};
const getPosts = async (title: string) => {
  let posts = await Astro.glob("../pages/post/*.md");
  posts = posts.filter((post) => post.frontmatter.tags.includes(title));
  return posts;
};
const module = await getModule(frontmatter.title);
const chapters = await getChapters(frontmatter.title);
const posts = await getPosts(frontmatter.title);
---

<BaseLayout title={frontmatter.title} metaDescription={frontmatter.description}>
  <div class="py-16">
    <ModuleLabel module={module} />
    <h1>{frontmatter.title}</h1>
    <div class="grid sm:grid-cols-3">
      {chapters.length ? <ChaptersList chapters={chapters} /> : null}
      {posts.length ? <PostsList posts={posts} /> : null}
      <div class="sm:col-span-1">
        <img alt={frontmatter.image.alt} src={frontmatter.image.src} />
      </div>
    </div>
  </div>
</BaseLayout>
